* {
    background-color: rgb(225, 227, 227);
}

.navbar {
    background-color: rgb(225, 227, 227);
}

.heading h3 {
    color: rgb(13, 129, 156);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-top: auto;
}

.heading h3 a {
    text-decoration: none;
    color: rgb(13, 129, 156);
}

.heading a i {
    color: rgb(13, 129, 156);
    padding: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.heading a:hover {
    color: white;
}

.links {
    background-color: rgb(225, 227, 227);
    display: none;
}

.links a {
    color: rgb(13, 129, 156);
    padding: 5px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    display: inline-block;
    text-align: center;
    margin-left: 160px;
}

.links a:hover {
    background-color: rgb(225, 227, 227);
    color: white;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.content img {
    width: 40%;
    border-radius: 5px;
    margin-left: 25%;
}

.content p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-left: 10px;
    color:rgb(60, 59, 59);
}

.content p strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: rgb(13, 129, 156);
}

.projects p {
    color: rgb(60, 59, 59);
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    margin: 10px 10px;
}

.projects p strong {
    font-size: 1rem;
}

.projects button {
    background-color: rgb(13, 129, 156);
    border: none;
    color: #fff;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 35%;
    padding: 10px;
}

.projects button a {
    text-decoration: none;
    background-color: rgb(13, 129, 156);
    color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.footer i {
    font-size: 22px;
    padding: 0 15px;
    color: rgb(13, 129, 156);
}

.footer i:hover {
    color: white;
}

/* Styling hamburger menu for mobile screens */
@media screen and (min-width: 321px) {
    .links a {
        margin-left: 220px;
    }
}

@media screen and (min-width: 376px) {
    .links a {
        margin-left: 250px;
    }
}

/* Styling for tablet */
@media screen and (min-width: 768px) {

    .navbar {
        display: flex;
    }

    .heading h3 {
        font-size: 1.5rem;
    }

    .heading a i {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        padding: 0 10px;
    }

    .links a {
        margin-left: 10px;
    }

    .content {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    .content p {
        font-size: 1.5rem;
        padding-left: 25px;
        color:rgb(60, 59, 59);
    }
    
    .content p strong {
        font-size: 2rem;
    }

    .content img {
        margin-left: 10px;
        width: 150px;
    }

    .projects p {
        display: block;
        margin-left: 30%;
    }

    .projects button {
        border-radius: 50px;
        font-size: 1.2rem;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 15px;
    }
}

/* Styling for large screens (not 4K) */

@media screen and (min-width: 1024px) {
    .navbar {
        display: flex;
    }

    .heading h3 {
        font-size: 2.5rem;
    }

    .heading a i {
        display: none;
    }

    .links {
        margin-left: 150px;
    }

    .links a {
        font-size: 1.5rem;
        margin: 0 25px;
    }

    .content {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }

    .content p {
        font-size: 2rem;
        padding-left: 25px;
    }
    
    .content p strong {
        font-size: 2.5rem;
    }

    .content img {
        margin-left: 10px;
        width: 250px;
    }

    .projects button {      
        font-size: 1.8rem;
        top: 60%;
        left: 45%;
        padding: 15px;
    }

    .projects p {
        font-size: 1.5rem;
        position: absolute;
        top: 70%;
    }

    .projects p strong {
        font-size: 1.8rem;
    }

    .footer i {
        font-size: 30px;
        padding: 0 15px;
    }
}

/* Styling for 4K screens */

@media screen and (min-width: 1440px) {

    .projects p {
        font-size: 1.5rem;
        margin-left: 400px;
    }

    .projects button {
        font-size: 2rem;
        top: 50%;
        left: 43%;
        padding: 15px;
    }

    .footer i {
        font-size: 2.5rem;
        margin-top: 50px;
        padding: 0 25px;
    }
}

@media screen and (min-width: 2500px) {

    .navbar {
        display: flex;
    }

    .heading h3 {
        font-size: 5.5rem;
    }

    .heading a i {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        margin-left: 150px;
        padding: 0 25px;
    }

    .links a {
        font-size: 3.8rem;
        margin: 0 50px;
    }

    .content {
        display: flex;
        flex-direction: row;
        margin-top: 100px;
    }

    .content p {
        font-size: 5rem;
        padding-left: 25px;
        color:rgb(60, 59, 59);
    }
    
    .content p strong {
        font-size: 5.5rem;
        color: rgb(13, 129, 156);
    }

    .content img {
        border-radius: 20px;
        margin-left: 10px;
        width: 500px;
    }

    .projects p {
        font-size: 3.2rem;
        margin-left: 750px;
    }

    .projects p strong {
        font-size: 3.8rem;
    }

    .projects button {
        top: 60%;
        left: 43%;
        font-size: 3.8rem;
        padding: 20px;
    }

    .footer a i {
        font-size: 5rem;
        margin-top: 50px;
        padding: 0 50px;
    }
}