* {
    background-color: rgb(225, 227, 227);
}

.navbar {
    background-color: rgb(225, 227, 227);
}

.heading h3 {
    color: rgb(13, 129, 156);
    font-family: 'Montserrat', sans-serif;
    position: relative;
    margin-top: auto;
}

.heading h3 a {
    text-decoration: none;
    color: rgb(13, 129, 156);
}

.heading a i {
    color: rgb(13, 129, 156);
    padding: 10px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.heading a:hover {
    color: white;
}

.links {
    background-color: rgb(225, 227, 227);
    display: none;
}

.links a {
    color: rgb(13, 129, 156);
    padding: 5px 16px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    display: block;
    text-align: center;
    margin-left: 160px;
}

.links a:hover {
    background-color: rgb(225, 227, 227);
    color: white;
}

.content p {
    color: rgb(13, 129, 156);
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    display: block;
    margin: 25px 25px;
    text-align: center;
}

.content h2 {
    color: rgb(13, 129, 156);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.projects {
    border: 1px solid rgb(60, 59, 59);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
}

.projects img {
    width: 80%;
    align-items: center;
    padding: 40px 10px;
}

.projects p {
    font-size: 10px;
    padding: 10px;
}

.projects a {
    color: rgb(13, 129, 156);
    text-decoration: none;
}

.projects a:hover {
    color: #fff;
    background-color: rgb(225, 227, 227);
}

.magic {
    background-color: rgb(13, 129, 156);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    padding: 12px 20px;
    cursor: pointer;
    letter-spacing: 1px;
    box-shadow: 0 3px rgba(13, 129, 156, 0.5);
    margin: auto;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(2px);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 150px;
    width: 150px;
    margin-top: 10px;
    position: relative;
    transition: .4s ease;
}

.boxes.big {
    width: 200px;
    height: 200px;
}

.boxes.big .box {
    transform: rotateZ(360deg);
}

.box {
    background-image: url('https://media.giphy.com/media/duNowzaVje6Di3hnOu/giphy.gif');
    background-repeat: no-repeat;
    background-size: 150px 150px;
    margin-right: 20px;
    position: relative;
    height: 125px;
    width: 125px;
    transition: .4s ease;
}

.box::after {
    content: '';
    background-color: rgb(13, 129, 156);
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: rgba(13, 129, 156, 0.5);
    position: absolute;
    bottom: -15px;
    left: 8px;
    height: 15px;
    width: 100%;
    transform: skewX(45deg);
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.footer i {
    font-size: 22px;
    padding: 0 15px;
    color: rgb(13, 129, 156);
}

.footer i:hover {
    color: white;
}

/* Styling hamburger menu for mobile screens */

@media screen and (min-width: 375px) {
    .links a {
        margin-left: 220px;
    }

    .projects p {
        font-size: 12px;
        padding: 20px 0;
    }
}

@media screen and (min-width: 425px) {
    .links a {
        margin-left: 250px;
    }

    .projects p {
        font-size: 14px;
        padding: 30px 0;
    }
}

/* Styling for tablet */
@media screen and (min-width: 768px) {

    .navbar {
        display: flex;
    }

    .heading h3 {
        font-size: 1.5rem;
    }

    .heading a i {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        padding: 0 10px;
    }

    .links a {
        margin-left: 10px;
    }

    .content p {
        font-size: 1.2rem;
    }

    .content h2 {
        font-size: 1.5rem;
        margin-top: 40px;
    }

    .projects p {
        font-size: 18px;
        padding: 80px 0;
    }

    .magic {
        margin-left: 100px;
    }

    .boxes {
        height: 150px;
        width: 150px;
        margin-right: 100px;
        margin-top: 10px;
    }
}

/* Styling for large screens (not 4K) */

@media screen and (min-width: 1024px) {
    .navbar {
        display: flex;
    }

    .heading h3 {
        font-size: 2.5rem;
    }

    .heading a i {
        display: none;
    }

    .links {
        margin-left: 150px;
    }

    .links a {
        font-size: 1.5rem;
        margin: 0 25px;
    }

    .content p {
        font-size: 1.4rem;
    }

    .content h2 {
        font-size: 1.8rem;
        margin-top: 60px;
    }

    .projects {
        justify-content: center;
        border: 3px solid rgb(60, 59, 59);
        margin-left: 50px;
        width: 90%;
    }

    .magic {
       font-size: 20px;
    }

    .footer i {
        font-size: 30px;
        padding: 0 15px;
    }
}

/* Styling for 4K screens */

@media screen and (min-width: 1440px) {

    .links a {
        font-size: 1.8rem;
        margin: 0 50px;
    }

    .content p {
        font-size: 1.6rem;
    }

    .content h2 {
        font-size: 2.3rem;
    }

    .projects img {
        padding: 20px 50px;
    }
    .projects p {
        font-size: 1.8rem;
        padding: 120px 0;
    }

    .magic {
        font-size: 36px;
    }

    .footer i {
        font-size: 2.5rem;
        margin-top: 50px;
        padding: 0 25px;
    }
}

@media screen and (min-width: 2500px) {

    .navbar {
        display: flex;
    }

    .heading h3 {
        font-size: 5.5rem;
    }

    .heading a i {
        display: none;
    }

    .links {
        display: flex;
        flex-direction: row;
        margin-left: 150px;
        padding: 0 25px;
    }

    .links a {
        font-size: 3.8rem;
        margin: 0 50px;
    }

    .content p {
        font-size: 2.5rem;
    }

    .content h2 {
        font-size: 4rem;
    }

    .projects {
        margin-left: 100px;
        width: 90%;
    }

    .projects img {
        padding: 100px 50px;
    }
    .projects p {
        font-size: 2.8rem;
        padding: 250px 0;
    }

    .magic {
        font-size: 48px;
    }

    .boxes {
        height: 150px;
        width: 150px;
    }

    .footer a i {
        font-size: 5rem;
        margin-top: 50px;
        padding: 0 50px;
    }
}